<!--
This HTML code is private and should not be used or distributed without explicit permission from the author.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contact page for Xhab - a cloud-based social connectivity and storage platform.">
    <title>Contact Us - xapp</title>
    <link rel="icon" href="/img/xhab_white_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header class="-header">
    <div class="-header-logo">xapp</div>
    <nav class="-header-menu">
        <a href="/">Home</a>
        <a href="login">Login</a>
        <a href="contact">Contact</a>
        <div class="-dropdown">
            <a href="#">More</a>
            <div class="-dropdown-content">
                <a href="#">Tutorial</a>
                <a href="#">Support</a>
            </div>
        </div>
        <a href="faq">FAQ</a>
    </nav>
</header>

<div class="-faq">
    <div class="-faq-title">Contact Us</div>
    <div class="-faq-content">
        <form action="/send-message" method="POST">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>

            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="4" required></textarea><br>
            <button type="submit">Submit</button>
            <div th:if="${errorMessage != null}" class="error-message">
                <p th:text="${errorMessage}" style="color: #800020; align-content: center; margin-top: 5px;"></p>
            </div>
        </form>
    </div>
</div>

<footer>
    <div class="-footer-content">
        <p>&copy; 2024 xapp. All rights reserved.</p>
        <nav class="-footer-menu">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="contact">Contact</a>
        </nav>
    </div>
</footer>

</body>
</html>
