:root {
    --primary-color: #8379e7;
    --primary-hover-color: #6f67c5;
    --background-color: rgba(0, 0, 0, 0.7);
    --text-color: #ffffff;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #121212; 
    font-family: var(--font-family-main), sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.side-bar-form {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    padding: 15px;
    width: 250px;
    height: 100%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-main), sans-serif;
    border-top-right-radius: 20px;
}

.side-bar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.side-bar-logo img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

.side-bar-logo:hover {
    cursor: pointer;
    background-color: var(--primary-hover-color);
    transition: background-color 0.3s ease;
    border-radius: 50%;
}

.nav-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    font-family: var(--font-family-main), sans-serif;
}

.nav-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list .top-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.nav-list .bottom-section {
    margin-top: auto; 
    margin-bottom: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: var(--font-family-main), sans-serif;
}

.nav-item img {
    width: 25px;
    height: auto;
    margin-right: 15px;
}

.nav-link {
    color: var(--text-color);
    font-size: 16px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: var(--primary-hover-color);
    cursor: pointer;
    transform: scale(1.05);
}
