:root {
    --primary-color: #8379e7;
    --primary-hover-color: #6f67c5;
    --background-color: rgba(0, 0, 0, 0.6);
    --text-color: #ffffff;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    font-family: var(--font-family), sans-serif;
}

.search {
    display: flex;
    align-items: center;
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    padding: 10px;
    gap: 10px;
    width: 860px;
    margin: 20px 0 0 0;
}

.search-logo {
    width: 25px;
    height: 25px;
}

.search-bar {
    flex-grow: 1;
}

.search-bar input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-family: var(--font-family), sans-serif;
    font-size: 14px;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.2);
}

.search-bar input:focus {
    border: 1px solid var(--primary-color);
}

.search-button {
    background: var(--primary-color);
    border: none;
    color: var(--text-color);
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--font-family), sans-serif;
    margin-left: 20px;
}

.search-button:hover {
    background: var(--primary-hover-color);
}
