:root {
    --primary-color: #8379e7;
    --primary-hover-color: #6f67c5;
    --background-color: rgba(0, 0, 0, 0.7);
    --text-color: #ffffff;
    --link-color: #007bff;
    --link-hover-color: #8379e7;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --font-family: "Anonymous Pro", monospace;
}

body {
    margin: 0;
    padding: 0;
    background: url("src/shared/assets/images/Background.png") no-repeat center center fixed;
    background-size: cover;
    font-family: var(--font-family);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.-header {
    background-color: var(--background-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.-header-logo {
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
}

.-header-menu {
    display: flex;
    align-items: center;
    margin-right: 30px;
    justify-content: space-between;
}

.-header-menu a {
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
    margin-right: 20px;
}

.-header-menu a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

.-nav-buttons {
    margin-bottom: 5px;
    padding-left: 15px;
}

.search-form {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.search-bar {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar:focus {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.search-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
}

/* Button Styles */
.-msg-butt, .-home-butt, .-email-butt, .-sett-butt, .toolbar-button-cloud, .toolbar-button-plus, .toolbar-button-write, .toolbar-button-posts, .toolbar-button-group, .btn-settings {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background-size: cover;
    cursor: pointer;
    margin-top: 5px;
    transition: background-image 0.3s ease, transform 0.3s ease;
}


.-msg-butt { background-image: url("../ico/messenger_white.png"); }
.-home-butt { background-image: url("../ico/home_white.png"); }
.-email-butt { background-image: url("../ico/email_white.png"); }
.-sett-butt { background-image: url("../ico/settings1_white.png"); }
.toolbar-button-cloud { background-image: url("../ico/cloud_white.png"); }
.toolbar-button-plus { background-image: url("../ico/plus_white.png"); }
.toolbar-button-write { background-image: url("../ico/write_white.png"); }
.toolbar-button-posts { background-image: url("../ico/blog-text_white.png"); }
.toolbar-button-group {
    margin-left: 35px;
    background-image: url("../ico/users_white.png");
}
.btn-settings { background-image: url("../ico/settings_white.png"); }

.-msg-butt:hover { background-image: url("../ico/messenger_purple.png"); }
.-home-butt:hover { background-image: url("../ico/home_purple.png"); }
.-email-butt:hover { background-image: url("../ico/email_purple.png"); }
.-sett-butt:hover { background-image: url("../ico/settings1_purple.png"); }
.toolbar-button-cloud:hover { background-image: url("../ico/cloud_purple.png"); }
.toolbar-button-plus:hover { background-image: url("../ico/plus_purple.png"); }
.toolbar-button-write:hover { background-image: url("../ico/write_purple.png"); }
.toolbar-button-posts:hover { background-image: url("../ico/blog-text_purple.png"); }
.toolbar-button-group:hover { background-image: url("../ico/users_purple.png"); }
.btn-settings:hover {
    background-image: url("../ico/settings_purple.png");
    transform: scale(1.1);
}

.-main-content {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    flex: 1;
}

.-profile {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    max-width: 600px;
    margin-right: 20px;
    height: 600px;
}

.-user-content {
    width: 100%;
}

.-user-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.-user-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}

.-user-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.-user-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 45px;
    margin-top: 10px;
}

.-user-email {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 45px;
}

.-user-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.-user-stats div {
    font-size: 18px;
    margin-right: 10px;
}

.-user-details {
    margin-top: 20px;
}

.-user-bio,
.-user-gender {
    margin-bottom: 10px;
    font-size: 18px;
}

.-set-buttons {
    display: flex;
    margin-top: 10px;
    margin-left: 45px;
}

.btn-change-profile {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 15px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.btn-change-profile:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
}

.btn-settings {
    margin-left: 35px;
}

.-additional-content {
    flex: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    margin-left: 20px;
}

.-content-header-name {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.profile-social {
    margin-top: 30px;
}

.social-label {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.social-links a {
    display: inline-block;
    text-decoration: none;
    color: var(--link-color);
    margin-right: 10px;
    font-size: 14px;
}

.social-links a:hover {
    text-decoration: underline;
}

footer {
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.-footer-menu {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.-footer-menu a {
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
}

.-footer-menu a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}
