:root {
    --primary-color: #8379e7;
    --primary-hover-color: #6f67c5;
    --background-color: rgba(0, 0, 0, 0.7);
    --text-color: #ffffff;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --font-family: "Anonymous Pro", monospace;
  }
  
  body {
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
  }
  
  .card {
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    width: 100%;
    max-width: 1000px; /* Максимальная ширина карты */
    height: 500px; /* Фиксированная высота карты */
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    box-sizing: border-box;
    overflow: hidden; /* Предотвращает выход содержимого за границы */
  }
  
  .logo {
    text-align: center;
    margin: 20px 0;
  }
  
  .logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .profile-header {
    text-align: center;
    padding: 0 20px;
  }
  
  .username {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .header-buttons {
    margin-bottom: 20px;
  }
  
  .header-buttons button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .header-buttons button:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
  }
  
  .user-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .stat {
    font-size: 14px;
  }
  
  .user-info {
    text-align: center;
    padding: 0 20px;
  }
  
  .fullname {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  
  .bio {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .location, .date {
    font-size: 12px;
    color: var(--text-color);
  }
  